body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
  
}
.alignLeft {
	text-align: left;
}
.alignRight {
	text-align: right;
}
.alignCenter {
	text-align: center; 

}
.alignJustify {
	text-align: justify; 

}
.souligne
{
    text-decoration: underline;
}
.connexion
{
	margin-top: 10px;
}
.margin
{
	margin-left: 40px;
}
.sommaire
{
margin-left: 40px;
text-decoration: underline;
text-align: left;
}

ul[rn-carousel] > li {
  position: relative;
  margin-left: -100%;
}

ul[rn-carousel] > li:first-child {
  margin-left: 0;
}

ul[rn-carousel] img {
  max-width: 100%;
}

.custom-indicator span {
  transition: all 0.3s ease-in;
}
.custom-indicator span.active {
  color:black!important;
}
.custom-indicator span.inactive {
  color:lightgray;
}

/* Champ Identification  */
login.col-xs-12 > div:nth-child(1){
	
	border-radius: 8px 8px 8px 8px;
    border: solid 2px;
    border-color: #e0c088;
    box-shadow: 4px 4px 12px #aaa;
    margin-left: 0.5%;
    margin-right: 0.5%;
	margin-top: 2%;
	padding: 5%;
}

info-right.col-xs-12{
		border-radius: 8px 8px 8px 8px;
    border: solid 2px;
    border-color: #e0c088;
    box-shadow: 4px 4px 12px #aaa;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 2%;
    padding: 5%;
}

.form-horizontal{
		border-radius: 8px 8px 8px 8px;
    border: solid 2px;
    border-color: #e0c088;
    box-shadow: 4px 4px 12px #aaa;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: -3%;
    padding: 5%;
}